$navbar-default-bg: #1f7291;
$navbar-default-brand-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #1eb0d5;
$navbar-default-brand-hover-color: #1eb0d5;

$dropdown-link-hover-bg: #1eb0d5;
$dropdown-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;